PAYMENT_LOOKUP_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/get-book-payments
TRANSACTION_STATUS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/check-razorpay-book-payment-status
TRANSACTION_VERIFY_API_URL=https://srichaitanyaschool.net/book-kits-payments/check-book-sales-payment-razorpay
UNIFORM_PAYMENT_IDS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/uniform-payments-bydates
UNIFORM_RECEIPT_API_URL=http://192.168.0.6/varna_api/uniform_online_receipt_pdf.php
UNIFORM_RECEIPT_TOKEN=chaitanya
DASHBOARD_USERNAME=AdminGM
DASHBOARD_PASSWORD=aDmin@rudra
WIZKLUB_USERNAME=wizklub
WIZKLUB_PASSWORD=wizklub@123
UNIFORM_USERNAME=varsity
UNIFORM_PASSWORD=varsity@123
