PAYMENT_LOOKUP_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/get-book-payments
SED_PAYMENTS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/sed-payments
PENDING_SED_TRANSACTIONS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/pending-sed-transactions
MANUAL_USER_SYNC_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/sync-manual-user
TABLE_USER_SYNC_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/sync-table-users
TRANSACTION_STATUS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/check-razorpay-book-payment-status
TRANSACTION_VERIFY_API_URL=https://srichaitanyaschool.net/book-kits-payments/check-book-sales-payment-razorpay
UNIFORM_PAYMENT_IDS_API_URL=https://api.srichaitanyaschool.net/v3/grievance-api/uniform-payments-bydates
UNIFORM_RECEIPT_API_URL=http://192.168.0.6/varna_api/uniform_online_receipt_pdf.php
UNIFORM_RECEIPT_TOKEN=chaitanya
ADMIN_USERNAME=ADMINGM
ADMIN_PASSWORD=GoodMorning\$4\$5^
WIZKLUB_USERNAME=WIZKLUB
WIZKLUB_PASSWORD="wiZklub#23"
